h1,
h5,
span {
    color: #ffffff;
}

body {
    background-color: #373a3c;
}

.container {
  flex: 1
}

.theoplayer-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
