name: CI

on:
  push:
    branches: ['develop', 'master']
  pull_request:
    branches: ['develop', 'master']
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Run npm
        run: npm ci
      - name: Check lint
        run: npm run lint
